<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block title %} Dados Gerais {% endblock title %}
{% block content %}
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
<div class="content">
    <ul class="content">
        <h2 class="splash-subhead" style="text-align: center;">Dados Gerais</h2>
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center">
              <span class="flex-sm-fill">Região</span>
              <span class="flex-sm-fill">Estado</span>
              <span class="flex-sm-fill">Municipio</span>
              <span class="flex-sm-fill">Data</span>
              <span class="badge badge-danger badge-pill flex-sm-fill">Total de casos</span>
              <span class="badge badge-warning badge-pill flex-sm-fill">Novos casos</span>
              <span class="badge badge-dark badge-pill flex-sm-fill">Total de Óbitos</span>
              <span class="badge badge-secondary badge-pill flex-sm-fill">Novos Óbitos</span>
            </li>
            {% for dado in home %}
            <li class="list-group-item d-flex align-items-center">
              <span class="flex-sm-fill">{{ dado.regiao }}</span>
              <span class="flex-sm-fill">{{ dado.estado }}</span>
              <span class="flex-sm-fill">{{ dado.municipio }}</span>
              <span class="flex-sm-fill">{{ dado.data }}</span>
              <span class="badge badge-danger badge-pill flex-sm-fill">{{ dado.casosAcumulado }}</span>
              <span class="badge badge-warning badge-pill flex-sm-fill">{{ dado.casosNovos }}</span>
              <span class="badge badge-dark badge-pill flex-sm-fill">{{ dado.obitosAcumulado }}</span>
              <span class="badge badge-secondary badge-pill flex-sm-fill">{{ dado.obitosNovos }}</span>
            </li>
            {% endfor %}
          </ul>
        </ul>
        <div class="pagination">
          <span class="step-links">
            {% if home.has_previous %}
              <a href="?page={{ home.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            <span class="current">
              {{ home.number }} de {{ home.paginator.num_pages }}
            </span>

            {% if home.has_next %}
              <a href="?page={{ home.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
          </span>
        </div>
</div>
</body>
{% endblock content %}
</html>